<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated abstractcomponenttypes -->
      <package
            uri="mpcm.domain.repository.abstractcomponenttypes"
            class="abstractcomponenttypes.AbstractcomponenttypesPackage"
            genModel="model/abstractcomponenttypes.genmodel"/>
   </extension>

</plugin>
