[submodule "core/src/test/resources/mSimuLizar"]
	path = ./
	url = git@github.com:layornos/mSimuLizar.git
[submodule "core/src/test/resources/mPCM_build"]
	path = ./
	url = git@github.com:layornos/mPCM_build.git
