<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated repository -->
      <package
            uri="mpcm.paradigm.repository"
            class="repository.RepositoryPackage"
            genModel="model/repository.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated repository -->
      <package
            uri="mpcm.paradigm.repository.datatypes"
            class="repository.datatypes.DatatypesPackage"
            genModel="model/repository.genmodel"/>
   </extension>

</plugin>
