<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated events -->
      <package
            uri="mpcm.domain.extensions.events.repository"
            class="events.repository.RepositoryPackage"
            genModel="model/events.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated events -->
      <package
            uri="mpcm.domain.extensions.events.seff"
            class="events.seff.SeffPackage"
            genModel="model/events.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated events -->
      <package
            uri="mpcm.domain.extensions.events.composition"
            class="events.composition.CompositionPackage"
            genModel="model/events.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated events -->
      <package
            uri="mpcm.domain.extensions.events.allocation"
            class="events.allocation.AllocationPackage"
            genModel="model/events.genmodel"/>
   </extension>

</plugin>
